<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <title>Document</title>
    <style>
     
      .my-custom-spacing {
        margin-left: 30px;
        margin-right: 500px;
      }
      .darker-image {
        filter: brightness(45%);
      }
      body{
        background-color: rgb(133, 105, 3);
        color: white;
      }
    </style>
  </head>

  <body>
    <header class="p-3 mb-3 border-bottom">
      <div class="container">
        <div
          class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
        >
          <a
            href="/"
            class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none"
          >
            <svg
              class="bi me-2"
              width="40"
              height="32"
              role="img"
              aria-label="Bootstrap"
            >
              <use xlink:href="#bootstrap"></use>
            </svg>
          </a>

          <ul
            class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
          >
            <li>
              <a href="#" class="nav-link px-2 link-secondary">Overview</a>
            </li>
            <li>
              <a href="#" class="nav-link px-2 link-body-emphasis">Inventory</a>
            </li>
            <li>
              <a href="#" class="nav-link px-2 link-body-emphasis">Customers</a>
            </li>
            <li>
              <a href="#" class="nav-link px-2 link-body-emphasis">Products</a>
            </li>
          </ul>

          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input
              type="search"
              class="form-control"
              placeholder="Search..."
              aria-label="Search"
            />
          </form>

          <div class="dropdown text-end">
            <a
              href="#"
              class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                src="https://github.com/mdo.png"
                alt="mdo"
                width="32"
                height="32"
                class="rounded-circle"
              />
            </a>
            <ul class="dropdown-menu text-small">
              <li><a class="dropdown-item" href="#">New project...</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <main class="container">
      <div
        class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary position-static image-container"
      >
        <div class="col-md-12">
          <img
            src="/images/arunachal-main.jpg"
            height="300px"
            width="1000px"
            alt=""
            class="image-fluid rounded darker-image"
          />
          <div
            class="position-absolute top-50 start-45 translate-middle-y text-white"
          >
            <h1 class="display-10 my-custom-spacing">ARUNACHAL PRADESH</h1>
            <p class="lead my-custom-spacing fst-italic">Arunachal Pradesh is well known for its ancient culture. Known as the 'The Land of Dawnlit Mountains', Arunachal Pradesh finds mention in prominent scriptures of India, such as the Kalika Purana and Mahabharata. Sage Parashurama washed away his sins in Arunachal which was then known as Prabhu Mountains.
          </div>
        </div>
      </div>
      
      <div class="row mb-2">
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
             
              <h3 class="mb-3">Dance of Arunachal Pradesh</h3>
        
              <p class="card-text mb-auto">Dance and music are an essential part of the life of Arunachali tribes. They dance and sing on important occasions and during the time of festivities and weddings. Various dance forms are seen in different parts of Arunachal. </p>
             
            </div>
           
          </div>
        </div>
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
  
              <h3 class="mb-3">Main Occupations</h3>
              
              <p class="mb-auto">Agriculture is the main occupation of Arunachal Pradesh's people. Jhum cultivation is the major occupation practised by the farmers. Jhuming involves cleaning a portion of the forest by cutting down and burning the trees and then sowing seeds on those areas with the help of poker</p>
             
            </div>
           
          </div>
        </div>
      </div>
      
      <div class="row g-5">
        <div class="col-md-8">
          <h3 class="pb-4 mb-4 fst-italic border-bottom">
            Religion of Arunachal Pradesh
          </h3>

          
         <p> Mostly, the people of Arunachal follow their own indigenous religions which is highly inclined towards nature. However, around 30% of the population of Arunachal practice Christianity. Some small communities of the region have traditionally been Hindu. Tibetan Buddhism is the dominant religion in the districts of West Kameng, Tawang and regions adjacent to Tibet. Near the Burmese border, Theravada Buddhism is the central faith.</p>
           
            <h3 class="pb-4 mb-4 fst-italic border-bottom">Art and Craft of Arunachal Pradesh</h3>
            
            <p>Arunachal Pradesh is gifted with traditional craftsmen skills that have been passed on from generations to generations. Local men are skilled in weaving, carpet making, wood carving, painting, pottery, ornament making, cane and bamboo work, smithy work, basketry and many others. The women are expert in making handicrafts and handlooms.
            </p>
            <h3 class="pb-4 mb-4 fst-italic border-bottom">  Food of Arunachal Pradesh</h3>
            
           <p>Arunachal Pradesh is situated in the farthermost north-eastern border of India. The influence of tribal communities and nearby Himalayan civilisations is quite evident in the local cuisine. Rice and meat are the staple food of Arunachal. Lettuce is quite popular among locals and it is cooked using green chillies, coriander and ginger. Boiled rice cakes, Thukpa and momos are the traditional dishes devoured by people.  
          
          
        </div>

       
    </main>
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-body-secondary">Home</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-body-secondary">Features</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-body-secondary">Pricing</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-body-secondary">FAQs</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-body-secondary">About</a>
        </li>
      </ul>
      <p class="text-center text-body-secondary">© 2024 Company, Inc</p>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
