<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <title>Document</title>
    <style>
      body{
        background-color: rgb(77, 3, 28);
        color: white;
      }
      .my-custom-spacing {
        margin-left: 30px;
        margin-right: 500px;
      }
      .darker-image {
        filter: brightness(50%);
      }
      .centerr{
        display: flex;
        justify-content: center;
        align-items: center;
      }
    </style>
  </head>

  <body>
    <header class="p-3 mb-3 border-bottom">
      <div class="container">
        <div
          class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
        >
          <a
            href="/"
            class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none"
          >
            <svg
              class="bi me-2"
              width="40"
              height="32"
              role="img"
              aria-label="Bootstrap"
            >
              <use xlink:href="#bootstrap"></use>
            </svg>
          </a>

          <ul
            class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
          >
            <li>
              <a href="#" class="nav-link px-2 link-secondary">Overview</a>
            </li>
            <li>
              <a href="#" class="nav-link px-2 link-body-emphasis">Inventory</a>
            </li>
            <li>
              <a href="#" class="nav-link px-2 link-body-emphasis">Customers</a>
            </li>
            <li>
              <a href="#" class="nav-link px-2 link-body-emphasis">Products</a>
            </li>
          </ul>

          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input
              type="search"
              class="form-control"
              placeholder="Search..."
              aria-label="Search"
            />
          </form>

          <div class="dropdown text-end">
            <a
              href="#"
              class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                src="https://github.com/mdo.png"
                alt="mdo"
                width="32"
                height="32"
                class="rounded-circle"
              />
            </a>
            <ul class="dropdown-menu text-small">
              <li><a class="dropdown-item" href="#">New project...</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <main class="container">
      <div
        class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary position-static image-container"
      >
        <div class="col-md-12">
          <img
            src="/images/UP_main.jpg"
            height="300px"
            width="1000px"
            alt=""
            class="image-fluid rounded darker-image"
          />
          <div
            class="position-absolute top-50 start-45 translate-middle-y text-white"
          >
            <h1 class="display-10 my-custom-spacing">UTTAR PRADESH</h1>
            <p class="lead my-custom-spacing fst-italic">
              Uttar Pradesh, India's most populous state, is known for its rich
              history and cultural heritage. It is home to landmarks like the
              Taj Mahal, Varanasi, and Ayodhya. With a blend of agriculture,
              industry, and tourism, UP is a key cultural and historical hub in
              India.
            </p>
          </div>
        </div>
      </div>
      
      <div class="row mb-2">
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
             
              <h3 class="mb-0">Festivals of Uttar Pradesh</h3>
        
              <p class="card-text mb-auto">Other than the national festivals like Holi, Diwali and Makar Sankranti- a few other cities have a few other festivals celebrated with a whole lot of zeal and fervour.</p>
              
            </div>
            <div class="col-auto d-none d-lg-block">
              <svg class="bd-placeholder-img" width="200" height="250"  role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
  
              <h3 class="mb-0">Folk Culture Of Uttar Pradesh</h3>
              
              <p class="mb-auto">Uttar Pradesh culture is an amalgam of a wide range of folk art and dance forms from which you may have your pick. Raslila is one of the most popular performing arts of the state. </p>
              
            </div>
            <div class="col-auto d-none d-lg-block">
              <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row g-5">
        <div class="col-md-8">
          <h3 class="pb-4 mb-4 fst-italic border-bottom">
            Culture in Uttar Pradesh - Traditions And Customs of the Heartland
            of India
          </h3>

          <article class="blog-post">
            <p>
              The culture of Uttar Pradesh swears by its rich historical past
              with its roots from Urdu. It is believed to be the land of the
              Nawabs, of Rama and Buddha, of Taj Mahal. It boasts of a 
             vivid culture and architectural finesse and is synonymous with
              vibrant hues, delectable cuisine, timeless traditions, monumental
              heritage and astounding music. People of Uttar Pradesh take pride
              to be the first to introduce the two great epics- Ramayan and
              Mahabharat to the world. The state also has a plethora of fairs
              and festivals that add to the charm and charisma of the state.
              Here's what entails Uttar Pradesh's Culture:
              <ul>
                <li>
                  Festivals of Uttar Pradesh
                </li>
                <li>
                  Customs And Traditions of Uttar Pradesh
                </li>
                <li>
                  Folk Culture Of Uttar Pradesh
                </li>
                <li>
                  Traditional Dresses of Uttar Pradesh
                </li>
                <li>
                  Food of Uttar Pradesh
                </li>
              </ul>
              <div class="centerr"><img  src="/images/The landofnawab.jpg" height="400px" width="600px"></div>
              
            </p>

           
            <h2>Food of Uttar Pradesh</h2>
            
            <p>
              Uttar Pradesh is home to a variety of cuisines, most famous of which are Awadhi cuisines and Mughal cuisines, very popular in Lucknow. The delicious food is supposed to be hereditary of the ruling Mughals. The most sought-after dishes include - dum biryani, dum Gosht and Nihari, which is slow-cooked overnight and sealed in large pots. In the northern Uttar Pradesh, which includes Meerut, Moradabad, Mathura etc., the staple food includes kachori, Aloo curry and the very regular dal, roti and rice. Petha is a very famous sweet dish available in the state and owes its authenticity to the city of Agra. Among the drinks, people prefer lassi, chaas and roohafza.
            </p>
            <h3> Traditional Dresses of Uttar Pradesh</h3>
            <p>
              Uttar Pradesh is mostly a state of two sects- Hindus and Muslims. The traditional dress of the women of Uttar Pradesh is a sari and a blouse or salwar kameez. The men opt for dhoti kurta or kurta pyjama. They also wear pagri or topi on their heads. On more festive occasions, men go for sherwani - which is an embroidered kurta with churidars. Women wear lehenga choli on formal occasions which is an embroidered long skirt with a blouse and a long scarf known as odhani. This is the unique costume of the women of Uttar Pradesh. They also adorn themselves in accessories including gold chains, necklaces, rings, bangles, trinkets, tiaras and anklets etc.
            </p>
            <ul>
              <li>Kurta-Pajama: A common outfit, especially in rural areas, consisting of a loose-fitting tunic (kurta) paired with pajama-style trousers.</li>
              <li>Dhoti: A traditional garment worn around the waist and legs, commonly seen in rural areas or during festivals and religious ceremonies.</li>
              <li>Turban (Pagri): In some regions, men also wear turbans, particularly during festivals, weddings, or formal occasions.</li>
            </ul>
          
          
        </div>

       
    </main>
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-body-secondary">Home</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-body-secondary">Features</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-body-secondary">Pricing</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-body-secondary">FAQs</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-body-secondary">About</a>
        </li>
      </ul>
      <p class="text-center text-body-secondary">© 2024 Company, Inc</p>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
