<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <title>Document</title>
    <style>
     body{
        background-color: rgb(1, 71, 24);
        color: white;
     }
      .my-custom-spacing {
        margin-left: 30px;
        margin-right: 500px;
      }
      .darker-image {
        filter: brightness(50%);
      }
    </style>
  </head>

  <body>
    <header class="p-3 mb-3 border-bottom">
      <div class="container">
        <div
          class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
        >
          <a
            href="/"
            class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none"
          >
            <svg
              class="bi me-2"
              width="40"
              height="32"
              role="img"
              aria-label="Bootstrap"
            >
              <use xlink:href="#bootstrap"></use>
            </svg>
          </a>

          <ul
            class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
          >
            <li>
              <a href="#" class="nav-link px-2 link-secondary">Overview</a>
            </li>
            <li>
              <a href="#" class="nav-link px-2 link-body-emphasis">Inventory</a>
            </li>
            <li>
              <a href="#" class="nav-link px-2 link-body-emphasis">Customers</a>
            </li>
            <li>
              <a href="#" class="nav-link px-2 link-body-emphasis">Products</a>
            </li>
          </ul>

          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input
              type="search"
              class="form-control"
              placeholder="Search..."
              aria-label="Search"
            />
          </form>

          <div class="dropdown text-end">
            <a
              href="#"
              class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                src="https://github.com/mdo.png"
                alt="mdo"
                width="32"
                height="32"
                class="rounded-circle"
              />
            </a>
            <ul class="dropdown-menu text-small">
              <li><a class="dropdown-item" href="#">New project...</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <main class="container">
      <div
        class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary position-static image-container"
      >
        <div class="col-md-12">
          <img
            src="/images/bihar-main.jpg"
            height="300px"
            width="1000px"
            alt=""
            class="image-fluid rounded darker-image"
          />
          <div
            class="position-absolute top-50 start-45 translate-middle-y text-white"
          >
            <h1 class="display-10 my-custom-spacing">BIHAR</h1>
            <p class="lead my-custom-spacing fst-italic">
                Bihar and its cultural significance are as old as civilization itself. Bihar was once a hub of the richest and the most diverse ethnicity. The epics Ramayana and Mahabharata, and Buddhism, all have had a crucial role in building the rich culture of Bihar.
            </p>
          </div>
        </div>
      </div>
      
      <div class="row mb-2">
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
             
              <h3 class="mb-0">Festivals of Bihar</h3>
        
              <p class="card-text mb-auto">Bihar has a range of celebrations for which the people keep anticipating and preparing annually.</p>
              
            </div>
            <div class="col-auto d-none d-lg-block">
              <svg class="bd-placeholder-img" width="200" height="250"  role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
  
              <h3 class="mb-0">Traditional Dress of Bihar</h3>
              
              <p class="mb-auto">Traditionally Indian clothes are saree for women and dhoti-kurta for men. Clothes indigenous to Bihar are often in bright colours.

                Women drape themselves in bright colour sarees and beautiful ornaments during special occasions. Tussar Silk sarees are most prevalent in Bihar.</p>
              
            </div>
            <div class="col-auto d-none d-lg-block">
              <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row g-5">
        <div class="col-md-8">
          <h3 class="pb-4 mb-4 fst-italic border-bottom">
            Tradition & Culture of Bihar
          </h3>

          
          Bihar’s history is very vast and will require an entire article to give every detail. Taking a cue from the brief history above, let us now look into Bihar’s tradition.

Hinduism and Buddhism seem to have a stronghold in the state. But Bihar also hones influence of Jainism, Sikhism, Islam, and Christian traditions.

In present-day Bihar, people of diverse traditions have found home on this land. Each practice with its distinctive attributes adds vibrancy to the place.

           
            <h2>Language of Bihar </h2>
            
            <p>Hindi is the dominant and official language of Bihar. Urdu is also in wide use in 15 districts, making it the second official language. Maithili and its dialect Bajjika, Bhojpuri, Angika, and Magadhi are other languages in everyday use.

                Here is the main topic of our article. So far, given the history and traditions, Bihar holds we can conclude that the culture must be equally rich. Let us now look at the diverse culture that Bihar takes pride in.
            </p>
            <h3>  Dance and Music of Bihar</h3>
            
           <p> Bihar has a stronghold in the field of performing arts also. Folk songs, folk dance, and classical music are part of the rich culture of Bihar.

            Folk songs of Bihar are a beautiful recital of daily rural life. Daily and common themes are central to folk songs. These folk songs are a must during special occasions like weddings, festivals, and other important ceremonies.</p>

          
          
        </div>

       
    </main>
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-body-secondary">Home</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-body-secondary">Features</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-body-secondary">Pricing</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-body-secondary">FAQs</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-body-secondary">About</a>
        </li>
      </ul>
      <p class="text-center text-body-secondary">© 2024 Company, Inc</p>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>