<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <title>Document</title>
    <style>
     body{
      background-color: rgb(143, 61, 26);
      color: white;
     }
      .my-custom-spacing {
        margin-left: 30px;
        margin-right: 500px;
      }
      .darker-image {
        filter: brightness(45%);
      }
    </style>
  </head>

  <body>
    <header class="p-3 mb-3 border-bottom">
      <div class="container">
        <div
          class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
        >
          <a
            href="/"
            class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none"
          >
            <svg
              class="bi me-2"
              width="40"
              height="32"
              role="img"
              aria-label="Bootstrap"
            >
              <use xlink:href="#bootstrap"></use>
            </svg>
          </a>

          <ul
            class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
          >
            <li>
              <a href="#" class="nav-link px-2 link-secondary">Overview</a>
            </li>
            <li>
              <a href="#" class="nav-link px-2 link-body-emphasis">Inventory</a>
            </li>
            <li>
              <a href="#" class="nav-link px-2 link-body-emphasis">Customers</a>
            </li>
            <li>
              <a href="#" class="nav-link px-2 link-body-emphasis">Products</a>
            </li>
          </ul>

          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <input
              type="search"
              class="form-control"
              placeholder="Search..."
              aria-label="Search"
            />
          </form>

          <div class="dropdown text-end">
            <a
              href="#"
              class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                src="https://github.com/mdo.png"
                alt="mdo"
                width="32"
                height="32"
                class="rounded-circle"
              />
            </a>
            <ul class="dropdown-menu text-small">
              <li><a class="dropdown-item" href="#">New project...</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <main class="container">
      <div
        class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary position-static image-container"
      >
        <div class="col-md-12">
          <img
            src="/images/haryana-main.jpg"
            height="300px"
            width="1000px"
            alt=""
            class="image-fluid rounded darker-image"
          />
          <div
            class="position-absolute top-50 start-45 translate-middle-y text-white"
          >
            <h1 class="display-10 my-custom-spacing">HARYANA</h1>
            <p class="lead my-custom-spacing fst-italic">Haryana's culture is reflective of its folklore. Submerged in the rich cultural heritage of the Vedic Period, the mystical state of Haryana stands out from the crowd. The rich Haryanvi culture is characterised by the hookahs and the charpoys, the vivid fairs and the swaying paddy fields.
            </p>
          </div>
        </div>
      </div>
      
      <div class="row mb-2">
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
             
              <h3 class="mb-0">Art and Craft</h3>
        
              <p class="card-text mb-auto">Arts and crafts of Haryana comprise of the various forms of dance, music, pottery, embroidery, painting, weaving, sculpting, etc. The speciality is the very popular village handicrafts. Apart from being the major source of income for the craftsmen, these art forms are a super hit among tourists. </p>
             
            </div>
           
          </div>
        </div>
        <div class="col-md-6">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
  
              <h3 class="mb-0">Baisakhi Mela</h3>
              
              <p class="mb-auto">Hosted by the Haryana Tourism on 13-14th April at Pinjore Gardens every year, this fair commemorates the festival of Baisakhi. A plethora of visitors gather for the celebrations with great enthusiasm and frolic.</p>
             
            </div>
           
          </div>
        </div>
      </div>
      
      <div class="row g-5">
        <div class="col-md-8">
          <h3 class="pb-4 mb-4 fst-italic border-bottom">
            Culture of Haryana
          </h3>

          
         <p> Haryana has emerged through the ravages of times and has still managed to hold on to many of its traditions- some good and some not so good. The people of Haryana strictly adhere to their customs and cultural traditions. Yoga and chanting of Vedic mantras have become an innate part of their lifestyle. The dialect of Haryana, popularly known as Haryanvi, Bangaru or Jatu; is known to be a bit crude but is full of earthy humour and straightforwardness. Most of the people of Haryana have more or less equal social status. The factor of age is a really dominating trait in Haryana, as all elders, whether rich or poor are treated with utmost respect and honour.</p>
           
            <h3 class="pb-4 mb-4 fst-italic border-bottom">Festivals of Haryana</h3>
            
            <p>To celebrate various occasions and events, a number of vibrant festivals take place in Haryana. These festivals include Teej, Guga Navmi, Gita Jayanti, Kaartik Cultural Festival and a unique celebration known as Sohna Car Rally. The most famous festival of all times is Teej. It is usually celebrated on the third day of 'Shrawana' month.
            </p>
            <h3 class="pb-4 mb-4 fst-italic border-bottom">  Cuisine of HARYANA</h3>
            
           <p>The authentic cuisine of Haryana offers finger licking delicacies namely- Kachri ki Sabji, Churma, Malpuas, Bathua Raita, Meethi Gajar, Singhri ki Sabji, Meethe Chawal, Rabri and much more. It will surely woo your heart and leave you with a lingering aftertaste, asking for more. The people of Haryana give a lot of importance to milk products like curd and lassi, and hence incorporate them in all their meals.  
          
          
        </div>

       
    </main>
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-body-secondary">Home</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-body-secondary">Features</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-body-secondary">Pricing</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-body-secondary">FAQs</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-body-secondary">About</a>
        </li>
      </ul>
      <p class="text-center text-body-secondary">© 2024 Company, Inc</p>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>